body {
  font-family: sans-serif;
  background-color: #dedede;
  color: #000;
  padding: 0;
  margin: 0;
}

.logo {
  font-size: 1em;
  margin: 0;
  padding: 1em;
  text-align: center;
}

/* MENU */

.viewport {
  background-color: #fff;
  margin: 0 auto;
  max-width: 20em;
}

.header {
  background-color: #222;
  padding: 1%;
}

.header a {
  color: #fff;
  text-decoration: none;
  padding: 2%;
}

.menu {
  display: none;
}

.menu.active {
  display: block;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li:nth-child(odd) {
  background-color: #333;
}

.menu li:nth-child(even) {
  background-color: #444;
}

.menu a {
  display: block;
  padding: 0.5em;
}

.no-js .menu {
  display: block;
}

.menu-button {
  background-color: transparent;
  border: none;
  font-size: 2em;
  line-height: 1;
  position: absolute;
  right: 0.3em;
  top: 0.2em;
}

.main {
  padding: 0.5em 1em;
}

/* CONTEUDO */

img {
  max-width: 100%;
  height: auto;
}

.game-title {
  text-align: center;
  font-weight: normal;
  font-size: 2.6rem;
}

.game {
  max-width: 100%;
  padding: 10px;
  margin: 30px auto;
  background-color: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.game h4 {
  margin: 0 0 6px 0;
}

.game-photo {
  float: left;
  width: 40%;
  margin-right: 15px;
}

.game-name {
  font-size: 2rem;
  font-weight: normal;
  margin: 0 0 1rem 0;
}

.tag {
  font-size: 0.9rem;
  color: #888;
  vertical-align: middle;
}

.link {
  margin: 0;
  padding: 0;
  position: relative;
  left: 17px;
  font-size: 0.85rem;
  line-height: 1.5;
}

.footer {
  background-color: #222;
  margin-top: 5%;
  position: initial;
  bottom: 0;
  width: 100%;
}

button {
  background: none;
  border: 0px;
  position: relative;
  font-weight: bold;
  transition: all 500ms ease-in-out;
}

button:after {
  content: "";
  
  transition: inherit;
  
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: blue;
  
  position: absolute;
  top: -50%;
  left: -10px;
  opacity: 0.3;
  z-index: -1;
}

button:hover:after {
  width: calc(100% + 20px);
  border-radius: 20px; 
  opacity: 0.6;
  
}

/* FORMULARIO */

.form {
  text-align: center;
  max-width: 100%;
}
.text {
  padding: 2% 20%;
  text-align: center;
  padding: auto;
  margin: auto;
}

.enviar {
  border: none;
  padding: 2% 25%;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.enviar:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* RESP */
@media screen and (max-width: 480px) {
  .form {
      text-align: center;
      max-width: 100%;
  }
  .text {
      padding: 4% 20%;
      text-align: center;
      padding: auto;
      margin: auto;
  }
  .enviar {
      border: none;
      padding: 4% 20%;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
  }
}
